@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Unna', sans-serif;
  line-height: 1.6;
 
}


.header {
   padding: 15px;

}

h1 {

  font-weight: 100;
  font-size: 100px;
  line-height: 1.2;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {

  font-weight: 100;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom:5px ;
  font-family: 'Times New Roman', Times, serif;
}


h3 {
  
  font-weight: 100;
  font-size: 55px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: 'Dancing Script', cursive;
}


h4 {

  font-weight: 100;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Dancing Script', cursive;
}

.whole {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.content p {
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
}
#block1 {
  text-align: center;
}
#block2 {
  display: flex;
}

.block2-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#block2 ul {
  display:grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 25px;
  align-items: center;
  padding: 0;
  /* list-style: none; */
}
#block2 ul li {
  font-size: 40px;
  padding: 15px;
}

#divider-wrap {
  display: flex;
  padding: 15px 0;
}
#divider-wrap .divider {
  height: 100%;
  width: 1px;
  background-color: #000;
  opacity: 0.5;
}

.form{
  margin: 25px;
}

.form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: none;
  font-size: 14px;
}



.btn {
  display: inline-block;
  border: 1px solid #000000;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  margin: 30px 0;

}

.btn:hover {
  color: #cc3300;
  background-color: rgba(1, 1, 1, 0.1);
}